@import "./colors.scss";

html,
body,
#root {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: auto min(60vw, 90vh) auto;
    align-items: center;
}

.responsive-canvas {
    width: min(60vw, 90vh);
    height: min(60vw, 90vh);
}
